
.calc-presupuesto {
    padding: 10px;
    background-color: rgb(227, 158, 68);
    display: flex;
    justify-content: center;
}
.calc-presupuesto img {
    width: 100px;   
}
.target {
    background-color: #ffffff;
    border-radius: 20px;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30%;
    padding-right: 10%;
    padding-bottom: 50px;
}
.weight {
    font-size: 10px;
    font-weight: 600;
}
.target p {
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 17px;
}
.box-calc {
    width: 50%;
    margin-top: 5%;
    margin-bottom: 10%;

}
.box-calc h1 {
    text-align: center;
    font-size: 35px;
    padding: 10px
}
.sub-box {
    display: flex;
    flex-direction: row;
}

.slider-container {
    width: 100%;
    position: relative;
    text-align: center;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
}
.slider {
    width: 100%;
    height: 3px;
    z-index: 1;
    
}
.value-box {
    width: 40px;
    height: 20px;
    border: 1px solid orangered;
    background-color: #ffffff;
    color: #080808;
    border-radius: 4px;
    text-align: center;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.fa-solid {
    color: rgb(237, 164, 28);
}
.input-with-icon {
    position: relative;
}
.input-with-icon input {
    padding-left: 30px; 
    border-radius: 10px;
    padding: 5px 30px;
    border: 1px solid rgb(233, 152, 40);
}
.input-with-icon i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}
.button {
    display: flex;
    justify-content: end;
    padding-top: 20px;
    padding-right: 10px;
}
.button button {
    background-color: orange;
    border: none;
    color: #ffffff;
    border-radius: 6px;
    padding: 6px 20px;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
}
.button i {
    color: #ffffff;
}